[submodule "themes/showfolio"]
	path = themes/showfolio
	url = https://github.com/apvarun/showfolio-hugo-theme.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
